*{
    margin: 0;
    padding: 0;
    font-size: 16px ;
    font-family: monospace;
    text-decoration: none ;
    color: white ;
    list-style-type: none ;
}
.hearder_container{
    background-color: rgb(51, 51, 54);
    color: white ;
    list-style-type: none ;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.menu_item{
    display: flex ;
}
.item{
    margin-right: 10px ;
    padding: 7px ;
    cursor: pointer ;
    font-size: 18px ;
}
.item a{
    color: white ;
}
.item a:hover{
    color: blue ;
}
.btn{
    padding: 8px 20px;
    background-color: red ;
    border: none ;
    color: white ;
    border-radius: 10px ;
}
.btn:hover{
    background-color: rgb(235, 13, 13) ;
}
.logo_photo{
    width: 120px ;
} 
/* 
==================================
End header section 
==================================
*/
.banner_container{
    display: flex ;
    justify-content: space-around;
    align-items: center ;
    height: 100vh ;
    background: linear-gradient(45deg, rgb(65, 56, 56) ,rgb(70, 70, 76));
    color: white ;
}
.banner_photo{
    width: 400px ;
}
.banner_title{
    font-size: 55px ;
}
.description{
    margin: 15px 0;
    font-family: 'Noto Sans Bengali', sans-serif;
    line-height: 30px;
}
.banner_photo{
    box-shadow: 4px 4px 4px rgb(99, 88, 88);
    border-radius: 20px ;
    transition: .5s;
}
.banner_photo:hover{
    transform: scale(.9);
}
/* End of banner section */
.service_container{
    background-color: rgb(51, 51, 54);
    padding: 20px 0;
    color: white ;
}
.dream{
    font-size: 20px ;
    margin-left: 20px;
    font-style: italic;
}
.learn_future{
    margin-left: 20px ;
    font-size: 55px ;
}
.service{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.serevice_box{
    background-color: rgb(55, 49, 49) ;
    width: 300px ;
    min-height: 370px ;
    padding: 20px ;
    text-align: center ;
    border-radius: 12px ;
    box-shadow: 4px 4px 4px red;
    border: 1px solid red ;
}
.serevice_box:hover{
    background-color: rgb(51, 51, 55);
}
.service_photo{
    width: 60px ;
    margin: 10px 0 30px ;
}
.service_caption{
    font-size: 30px;
    margin: 0 0 15px;
}
.serevice_box div[class="item"]{
    color: rgb(156, 134, 134);
}
.serevice_box div[class="item"]:hover{
    color: blue ;
}
/* end of service section */
.myskill_container{
    background: linear-gradient(45deg, rgb(65, 56, 56) ,rgb(70, 70, 76));
    display: flex ;
    justify-content: space-around ;
    align-items: center ;
    min-height: 400px ;
    padding: 20px 0;
}
.myskill{
    
}
.skill_title{
    margin-bottom: 30px ;
    font-style: italic;
}
.skill_headline{
    font-size: 60px ;
    margin: 0 0 30px;
}
.skill_btn{
    margin-top: 20px;
}
.myskill_info{
    min-width: 500px ;
}
.progress_item{
    margin: 20px 0;
    font-size: 20px ;
}
.myskill_info li progress{
    width: 100%;
}
/* end the myskill section */
.footer_container{
    background-color: rgb(55, 49, 49) ;
    min-height: 50vh;
    text-align: center;
    padding-top: 20px ;
}
.for_update{
    font-size: 18px ;
    color: rgb(176, 144, 144) ;
    display: block ;
    margin: 28px 0;
}
.for_subscribe{
    font-size: 60px ;
    margin: 20px 0 50px;
}
input[type="email"]{
    width: 300px;
    height: 50px ;
    border-radius: 24px;
    border: none ;
    background-color: rgb(63, 62, 63);
    color: white ;
    text-align: center;
}
input[type="email"]:hover{
    background-color: rgb(153, 150, 145);
    /* border: 1px solid ; */
}
.sub_btn{
    height: 50px ;
    margin-left: 20px;
}
.phone{
    display: flex ;
    justify-content: space-around;
    margin: 40px 0;
}
.divid{
    display: block ;
    margin-bottom: 20px ;
}
.copyright{
    padding: 20px 0;
}